<div class="course" id="<%= "coursediv_#{course}" %>">
    <div class="course_code"><%= course.cis_subject.code %>-<%= course.number %></div>
    <div class="course_desc"><%= course.title %></div>
</div>
<%= draggable_element "coursediv_#{course}", :revert => true %>