<p><%= link_to_remote "#{section_choice.name} #{section_choice.stype} | #{section_choice.days} #{section_choice.startTime && section_choice.startTime.strftime('%I:%M%p')} | #{section_choice.building} #{section_choice.instructor}", {:url => {:action => 'toggle_section', :id => semester, :section => section_choice.id}}, {:id => "choice_#{section_choice.id}", :class => (section_in_plan?(section_choice, semester) ? 'section_selected' : 'section_unselected')} %></p>
