<div id="course_bin">
  <div id="add_course">
        <strong>Course Bin:</strong>
  </div>
  <div id="course_bin_courses">
    <%= render :partial => 'course', :collection => @course_bin_courses, :locals => {:semester => -1, :effect => false} %>
  </div>
  <p class="clear"></p>
</div>
<div id="semesters">
  <table>
    <tr>
      <%= render :partial => 'semester', :collection => @semesters %>
    </tr>
  </table>
</div>
