<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>SoCo - <%= @title %></title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <%= stylesheet_link_tag 'application' %>
        <%= stylesheet_link_tag controller.controller_name %>
        <%= javascript_include_tag :defaults %>
    </head>
    <body>
        <% if @flash[:error] -%>
            <div id="error"><b>Error: </b><%= @flash[:error] %></div><br />
            <script language="javascript" type="text/javascript">
                <%= visual_effect :highlight, 'error', :duration => 2, :startcolor => '\'#ff0000\'' %>
            </script>
        <% end -%>
        <%= @content_for_layout %>
    </body>
</html>