<li class="friend">

<%= link_to "#{friend.first_name} #{friend.last_name}", :controller => 'profile', :action => 'show', :id => friend %>
<% if @user.friends.include? friend -%>
    <%= link_to '[remove]', {:action => 'remove', :id => friend},
        :confirm => "Are you sure you want to remove this friend?" %>
<% else -%>
    <%= link_to '[add]', {:action => 'add', :id => friend} %>
<% end -%>
</li>
