.main > div.cont
{
	width: 95%;
	overflow: scroll;
	position: relative;
	-moz-border-radius: 20px;
}

#throbber
{
	width: 100%;
	text-align: center;
}

#course_bin
{
	padding: .5em;
	border: 2px solid black;
}

#course_bin .course .links
{
    display:none;
}

#add_course
{
	border-bottom: 1px dashed black;
	clear: both;
	padding-bottom: 2px;
	margin-bottom: 3px;
}

#course_bin .course
{
	float: left;
}

.course
{
    margin: auto;
    width: 150px;
    padding: 0;
	margin: 2px;
    border: 1px solid black;
}

.course .course_code
{
    padding: 2px;
    background-color: #ddd;
    font-size: .8em;
    font-weight: bold;
    border-bottom: 1px dashed black;
}

.course .course_desc
{   
    font-size: .7em;
    font-style: italic;
    margin: 5px;
    text-align: center;
}

.course .course_prerequisites
{   
    font-size: .7em;
    margin: 5px;
    text-align: center;
	color: red;
}

.course .course_sharing
{
    margin: 0 auto;
    font-size: .9em;
    padding: 0 .5em;
}

.course .title
{
    margin: 0 .5em;
    font-size: .9em;
    font-variant: small-caps;
    border-bottom: 1px solid black;
}

.course .course_sharing ul li
{
    list-style-type: none;
    padding: 0;
    background: none;
}

.course .links
{
    margin-top: .2em;
    border-top: 1px dashed black;
    font-size: .6em;
    text-align: center;
}

.drop_hover
{
    background-color: #ffa !important;
}

#semesters {
	width: 100%;
	overflow-x: scroll;
}

#semesters td
{
	vertical-align: top;
}

.semester
{
    width: 156px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    min-height: 300px;
	margin-right: .5em;
}

.semester .semester_header
{
    font-size: 1.5em;
    width: 100%;
}

.semester .course
{
    margin-bottom: .5em;
}

.needs_prereq
{
    background-color: #f66 !important;
}
