
/* semester schedule stuff */

.sections_list {
	/*position: absolute;
	top: 0;
	left: 175px;
	background-color: lightgrey;
	z-index: 750;
	*/
}

/*
#body_container {
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
	top: 0;
	left: 0;
}
*/

#semester_title {
	width: 100%;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	padding-bottom: 1em;
}

#throbber {
	width: 100%;
	text-align: center;
}

#sched_and_courses {
	width: 100em;
	bottom: 0;
}

#courses {
	width: 20em;
	float: left;
	text-align: center;
}

.course {
	border: 1px solid black;
	margin-bottom: 1em;
}

#schedule_container {
	/*height: 40em;
	overflow: hide;
	position: absolute;
	z-index: 2500;*/


	background-color: lightgray;
	border: 2px solid black;
	width: 77em;
	background-color: #ddd;
	float: right;
	/*
	top: 50em;
	left: 20em;
	*/
}

#schedule_container_inner {
	/*position: absolute;
	overflow: auto;*/
	top: 2em;
	bottom: 0;
    background-color: white;
}

/* schedule link in semester container head */
.semester_link {
	font-size: 12pt;
}

/* semester schedule table */
#schedule_container table {
	padding: 0;
	margin: 0;
	border-collapse: collapse;
}

#schedule_container table tr td {
	margin-top: 1em;
}

#schedule_container table td, table th {
    vertical-align: top;
    padding: 0;
    margin: 0;
    width: 11em;
}

#schedule_container table th {
	text-align: center;
	border-bottom: 1px dashed black;
}

#schedule_container table tr:first-child {
    background-color: #ddd;
    z-index: 10;
}

#schedule_container table #times_row {
	height: 80em;

}

#schedule_container table .section {
    width: 10em;
    background-color: #ffb;
    padding: 2px;
    margin-left: 2px;
}

#schedule_container table .times, table .times div {
    background-color: #ddd;
    font-weight: bold;
    text-align: right;
    width: 9em;
    padding:1px;
}

#schedule_container table .times {
    border-right: 1px dashed black;
}

.time {
    height: 7.85em;
}

.sections_list {
	font-size: .9em;
	padding: 2px;
	text-align: left;
}

.section_selected, .section_unselected {
	text-decoration: none;
	width: 100%;
	display: block;
	padding: 0.5em 0;
	color: black;
}

.section_selected {
	background-color: #ffb;

}
.section_unselected {
}

#schedule_close_button {
	text-align: right;
	position: absolute;
	right: 1em;
}

.course_desc {
	font-weight: bold;
}

.course {
	background-color: #ddd;
}

#generate_label {
	font-weight: bold;
}

