<html>
<head>
<title>SoCo</title>
</head>
<body>

<h1>Registration Log</h1>
<table border="1">
 <tr>
  <td width="80%"><p align="center"><i><b>RelationShip</b></i></td>
  <td width="20%"><p align="center"><i><b>Course</b></i></td>
 </tr>

 <% @register_with_friends.each do |register_with_friend| %>
  <tr>
   <td><%=register_with_friend.friends_users_id%></td>
   <td><%= register_with_friends.cis_courses_id %></td>
  </tr>
 <% end %>
</table>

</body>
</html>