
        <hr><h1>New User Registration (I know I know, this is repeated...) [working on this area]</h1>

      
<% form_tag :action => 'register' do %>
  <%= render :partial => 'form', :locals => {:reg => true} %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :controller => 'login' %>
