
       

        <%= stylesheet_link_tag 'application' %>

        <%= stylesheet_link_tag controller.controller_name %>
        <%= javascript_include_tag :defaults %>
        <!-- REMOV ETHIS FROM HERE?? problem with register -->
        
<!-- M4tt: yield  is preferred I think that         <%= @content_for_layout %>        -->

    <%= yield %>