body
{
    margin: 0px;
}

.course
{
    cursor: pointer;
    margin: auto;
    width: 150px;
    z-index: 999;
    padding: 0px;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color:#fff;
}
.course_code
{
    padding: 2px;
    background-color: #ddd;
    font-size: .8em;
    font-weight: bold;
    border-bottom: 1px dashed black;
}
    
.course_desc
{   
    font-size: .7em;
    font-style: italic;
    margin: 5px;
    text-align: center;
}

.links
{
    font-size: .6em;
    text-align: center;
}

#course_bin
{
    width: 152px;
    position: fixed;
    height: 98.5%;
    overflow: visible;
    z-index: 1000;
    border-width: 0px 1px 0px 0px;
}

#course_bin .course
{
    white-space: nowrap;
    overflow: hidden;
    background-color: #eee;
    padding: .1em;
}

#course_bin .course .course_code
{
    background-color: #eee;
    font-size: .75em;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: .1em;
    border-width: 0;
}
#course_bin .course .course_desc
{
    font-style: italic !important;
    margin: 0;
    font-size: .6em;
}
#course_bin .course .links
{
    display:none;
}

.course_container
{
    height: 100%;
    background-color:white;
    width: 164px;
    min-width: 164px !important;
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
    height: 300px;
    margin-right: 8px;
}

#semesters_container
{
    display: table;
    border-spacing: 4px;
    margin-left:175px;
    padding: 0px;
}
#semesters
{  
    display: table-row;
}

.semester_header
{
    font-size: 1.5em;
    width: 164px;
}

.drop_hover
{
    background-color: #ffa;
}

#trash_container
{
    position: fixed;
    z-index: 5000;
    bottom: 0px;
    right: 0px;
}

.hide
{
    display:none;
}

.show
{
    display:block;
}

.delete_hover .hide
{
    display:block !important;
}

.delete_hover .show
{
    display:none !important;
}
#body_container
{
    top: 500px;
    left: 500px;
    width: 500px;
    height: 500px;
}
