table td
{
    vertical-align: top;
    width: 18em;
    height: 80em;
    padding: 0;
    margin: 0;
}
table td div
{
    padding: 1px;
    background-color: #ffb;
}
table td:first-child, table td:first-child div
{
    background-color: #bbf;
    font-weight: bold;
    text-align: right;
    width: 9em;
}
table td:first-child
{
    border-right: 2px solid black;
}
.time
{
    height: 7.85em;
}
body
{
    margin: -2px;
    font-family: serif;
    font-size: .75em;
}